*{
    margin: 0px;
}

.page-wrapper{
    width: 98%;
    height: 615px;
    border: 1px solid;
    margin: auto;
    padding: 15px;
}
.first-box{
    width:98%;
    border: 2px solid red;
    padding: 15px;
    margin-bottom: 10px;
}
.box1{
    width: 97%;
    border:1px solid;
    padding: 10px;
}
.box1-inner{
    width: 96%;
    border:1px solid;
    padding: 5px;
    background-color: red ;
}
.box2{
    width: 97%;
    border:1px solid;
    padding: 10px;
    margin-top: 10px;
}
.box2-inner{
    width: 96%;
    border:1px solid;
    padding: 5px;
    background-color: red ;
}
.second-box{
    width: 98%;
    border: 2px  solid;
    padding: 15px;
    margin-bottom: 10px;
}